<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<polymer-element name="bounty-login">
    <template>
        <h1>Login</h1>
        <paper-button raised on-tap="{{login}}">Sign in with Google</paper-button>

        <core-ajax
            id="googleAccess"
            url="https://accounts.google.com/o/oauth2/token"
            method="POST"
            handleAs="json"
            body='code={{code}}&client_id=947746537625-ff7208jd2piqpa0450u4vrt70blckl3m.apps.googleusercontent.com&client_secret=6QrZvmj4Ca3X_cwRDKESo_aG&redirect_uri=http://localhost&grant_type=authorization_code'
            on-core-response="{{tokenHandler}}"></core-ajax>

        <core-ajax
            id="googleProfile"
            url="https://www.googleapis.com/plus/v1/people/me?access_token={{access_token}}"
            handleAs="json"
            on-core-response="{{responseHandler}}"></core-ajax>

    </template>

    <script src="bounty-login.js"></script>
</polymer-element>
